@page
@model Identity.API.Pages.Account.ConfirmEmail.IndexModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<p>Click <a href="@Model.ReturnUrl">here</a> to login.</p>
