@page
@model Identity.API.Pages.Account.ForgotPassword.Index

<div class="login-page">
    <div class="lead">
        <h1 class="text-center">Forgot your password?</h1>
        <p class="text-center">We will generate one for you</p>
    </div>

    <div class="row d-flex justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Reset your password</h2>
                </div>

                <div class="card-body">
                    @if (ViewContext.ViewData.ModelState.ErrorCount > 0)
                    {
                        @Html.ValidationSummary(false, null,  new { @class = "text-danger" })
                    }
                    <form asp-page="/Account/ForgotPassword/Index">
                        <input type="hidden" asp-for="Input!.ReturnUrl" />

                        <div class="form-group">
                            <label asp-for="Input!.Email"></label>
                            <input class="form-control" placeholder="Username" asp-for="Input!.Email" autofocus>
                            <span asp-validation-for="Input!.Email" class="text-danger"></span>
                        </div>
                        <button class="btn btn-primary prm-trivia-color" name="Input.Button" value="reset">Reset</button>
                        <div>
                            <p class="mt-3">
                                Click <a href="@Model!.Input!.ReturnUrl">here</a> to go back to the application.
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
