.card-header-trivia {
    border-radius: 5px;
    background-color: #570861;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
}

.trv-card {
    background-image: linear-gradient(150deg,#2d2d8f 10%,#006fba 50%,#21fceb 94%);
}

.prm-trivia-color {
    background: #26efe9;
    color: #000048;
}

.sec-trivia-color {
    background: #2e308e;
}
