@page "/about"

<section id="trivia">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card trv-card">
                <div class="card-body">
                    <h5 class="section-title h3">About Trivia Cognizant</h5>
                    <b class="card-text trivia-title">Application History</b>
                    <p class="card-text trivia-description mt-3 mb-3">
                        The Cognizant Trivia application was born from the desire to learn by doing, a team of passionate people was formed
                        of technology and eager to learn new things.
                        <br />
                        We implemented this app to be able to put into practice some of the technologies and best practices we've learned over the last few months,
                        and also to allow community members who are willing to learn these new technologies to be part of the project and be able to "play" with them and learn them themselves.
                        <br />
                        The application implements technologies such as Blazor, Net 6, Entity Framework, Sql,
                        Signal R, Rabbit MQ and Identity Server.
                        Meet our colleagues:
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="team" class="pt-5">
    <div class="container">
        <h5 class="section-title h3">Trivia Cognizant Team</h5>
        <div class="row mt-3">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class="img-fluid" src="/images/Roxi.jpg" alt="card image"></p>
                                    <h4 class="card-title">Batinas Roxana</h4>
                                    <b class="card-text teaser-title">.NET SW Engineer</b>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="teaser-title">About Roxana</h4>
                                    <p class="card-text teaser-description">She has gained experience in Agile processes, technologies and try to improve her self everyday.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://web.yammer.com/main/users/eyJfdHlwZSI6IlVzZXIiLCJpZCI6IjcwNjY3OTY1MjM1MiJ9">
                                                <i class="bi bi-person-vcard"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class="img-fluid" src="/images/Titus.jpg" alt="card image"></p>
                                    <h4 class="card-title">Simoc Titus</h4>
                                    <b class="card-text teaser-title">.NET SW Engineer</b>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="teaser-title">About Titus</h4>
                                    <p class="card-text teaser-description">Passionate and intersted in all aspects of computer programming. He's open for more challenges as well as learning new technologies.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://web.yammer.com/main/users/eyJfdHlwZSI6IlVzZXIiLCJpZCI6IjcwNjcwMDA4MzIwMCJ9">
                                                <i class="bi bi-person-vcard"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p><img class="img-fluid" src="/images/Simon.JPEG" alt="card image"></p>
                                    <h4 class="card-title">Simon Szabolcs</h4>
                                    <b class="card-text teaser-title">.NET SW Engineer</b>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="teaser-title">About Simon</h4>
                                    <p class="card-text teaser-description">Experienced SW Engineer and eager to learn new technologies and new things every time.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="https://web.yammer.com/main/users/eyJfdHlwZSI6IlVzZXIiLCJpZCI6IjcwNjY4NTUwOTYzMiJ9">
                                                <i class="bi bi-person-vcard"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <span class="bi bi-people-fill" style="font-size: 6rem;"></span>
                                    <h4 class="card-title">Other Dev Colleagues</h4>
                                    <b class="card-text teaser-title">.NET SW Engineers</b>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="teaser-title">About them</h4>
                                    <p class="card-text teaser-description">SW Engineers passionate about technology, with team spirit and who considered tasks as real challenges.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <i class="bi bi-person-vcard"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip flip-0">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <span class="bi bi-people-fill" style="font-size: 6rem;"></span>
                                    <h4 class="card-title">QA Support</h4>
                                    <b class="card-text teaser-title">QA Team</b>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="teaser-title">About QA Team</h4>
                                    <p class="card-text teaser-description">Passionate and experienced QC engineers who enjoy every challenge that comes their way.</p>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <a class="social-icon text-xs-center" target="_blank" href="">
                                                <i class="bi bi-person-vcard"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="trivia">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="card trv-card">
                <div class="card-body">
                    <b class="card-text trivia-title">Appreciations</b>
                    <p class="card-text trivia-description mt-3">
                        Thanks to all the colleagues who have contributed to the core elements of this app over time and who have proven their worth!
@*                         <ul class="trivia-description">
                            <li>xxxx</li>
                        </ul> *@
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>