<AuthorizeView>
    <Authorized>
        Hello, @context.User.Identity?.Name!
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log Out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log In</a>
    </NotAuthorized>
</AuthorizeView>
