nav 
{ 
    margin: 0 auto;
    display:table;
    padding-top:10px;
}

button {
    background-color: #2e308e;
    color: #fff;
}

.trv-page page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.trv-page page-link {
    color: #26efe9;
}
.trv-page page-link:hover {
    z-index: 2;
    color: #0056b3;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}