.my-custom-scrollbar {
    position: relative;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.header-bg-secondary {
    border-radius: 5px;
    background-color: #2e308e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    width: 250px;
    margin: 5px;
}
